In [19]:
import pandas as pd
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\nahalf\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

### Yelp Test Data

In [4]:
df = pd.read_csv("yelp_joined_clean.csv")
df.head()

,Unnamed: 0,photo_id,business_id,caption,label,name,address,city,state,postal_code,latitude,longitude,stars,review_count,categories
0,0,002gqWfVal1D2DT6oA-bVQ,qnZzSC4TKen19Gz9nyKCvw,12oz. Boneless Ribeye | Grilled to perfection ...,food,Texas Land & Cattle,7779 Lyles Ln,Concord,NC,28027,35.365496,-80.712032,3.0,145,"Comfort Food, Restaurants, Nightlife, Steakhou..."
1,1,K_9pvEE-fJQyYExAGe0X0g,qnZzSC4TKen19Gz9nyKCvw,"Warm Chocolate Brownie | Melted caramel, choco...",food,Texas Land & Cattle,7779 Lyles Ln,Concord,NC,28027,35.365496,-80.712032,3.0,145,"Comfort Food, Restaurants, Nightlife, Steakhou..."
2,2,002GtTSYyQ4swIZyEnfF5A,9km51KaQujxsSgdaG9gYSw,"The Most Yummy Tarts: Chantilly, Guava, Salted...",food,Paina Cafe,"6870 Spring Mountain Rd, Ste G",Las Vegas,NV,89146,36.126871,-115.242175,4.0,491,"Restaurants, Poke, Food, Seafood, Sandwiches, ..."
3,3,15q8Yg7PISk2F66b0xx5Lg,9km51KaQujxsSgdaG9gYSw,"Tarts! Chocolate Haupia, Ube, and Guava Liliko...",food,Paina Cafe,"6870 Spring Mountain Rd, Ste G",Las Vegas,NV,89146,36.126871,-115.242175,4.0,491,"Restaurants, Poke, Food, Seafood, Sandwiches, ..."
4,4,2ocGohLgi-ea4WGZpAKNAQ,9km51KaQujxsSgdaG9gYSw,Spam musubi,food,Paina Cafe,"6870 Spring Mountain Rd, Ste G",Las Vegas,NV,89146,36.126871,-115.242175,4.0,491,"Restaurants, Poke, Food, Seafood, Sandwiches, ..."

In [36]:
#create separate column for tokenized caption
df['caption_clean'] = df['caption']
df['caption_clean'] = df['caption_clean'].replace('[^a-zA-Z0-9 ]', '', regex=True)
df['caption_clean'] = df['caption_clean'].str.lower()

In [15]:
df.head()

,Unnamed: 0,photo_id,business_id,caption,label,name,address,city,state,postal_code,latitude,longitude,stars,review_count,categories,caption_clean
0,0,002gqWfVal1D2DT6oA-bVQ,qnZzSC4TKen19Gz9nyKCvw,12oz. Boneless Ribeye | Grilled to perfection ...,food,Texas Land & Cattle,7779 Lyles Ln,Concord,NC,28027,35.365496,-80.712032,3.0,145,"Comfort Food, Restaurants, Nightlife, Steakhou...",12oz boneless ribeye grilled to perfection wi...
1,1,K_9pvEE-fJQyYExAGe0X0g,qnZzSC4TKen19Gz9nyKCvw,"Warm Chocolate Brownie | Melted caramel, choco...",food,Texas Land & Cattle,7779 Lyles Ln,Concord,NC,28027,35.365496,-80.712032,3.0,145,"Comfort Food, Restaurants, Nightlife, Steakhou...",warm chocolate brownie melted caramel chocola...
2,2,002GtTSYyQ4swIZyEnfF5A,9km51KaQujxsSgdaG9gYSw,"The Most Yummy Tarts: Chantilly, Guava, Salted...",food,Paina Cafe,"6870 Spring Mountain Rd, Ste G",Las Vegas,NV,89146,36.126871,-115.242175,4.0,491,"Restaurants, Poke, Food, Seafood, Sandwiches, ...",the most yummy tarts chantilly guava salted ca...
3,3,15q8Yg7PISk2F66b0xx5Lg,9km51KaQujxsSgdaG9gYSw,"Tarts! Chocolate Haupia, Ube, and Guava Liliko...",food,Paina Cafe,"6870 Spring Mountain Rd, Ste G",Las Vegas,NV,89146,36.126871,-115.242175,4.0,491,"Restaurants, Poke, Food, Seafood, Sandwiches, ...",tarts chocolate haupia ube and guava lilikoi t...
4,4,2ocGohLgi-ea4WGZpAKNAQ,9km51KaQujxsSgdaG9gYSw,Spam musubi,food,Paina Cafe,"6870 Spring Mountain Rd, Ste G",Las Vegas,NV,89146,36.126871,-115.242175,4.0,491,"Restaurants, Poke, Food, Seafood, Sandwiches, ...",spam musubi

In [37]:
df['caption_clean'] = df.apply(lambda row: nltk.word_tokenize(row['caption_clean']), axis=1)

In [17]:
df.head()

,Unnamed: 0,photo_id,business_id,caption,label,name,address,city,state,postal_code,latitude,longitude,stars,review_count,categories,caption_clean
0,0,002gqWfVal1D2DT6oA-bVQ,qnZzSC4TKen19Gz9nyKCvw,12oz. Boneless Ribeye | Grilled to perfection ...,food,Texas Land & Cattle,7779 Lyles Ln,Concord,NC,28027,35.365496,-80.712032,3.0,145,"Comfort Food, Restaurants, Nightlife, Steakhou...","[12oz, boneless, ribeye, grilled, to, perfecti..."
1,1,K_9pvEE-fJQyYExAGe0X0g,qnZzSC4TKen19Gz9nyKCvw,"Warm Chocolate Brownie | Melted caramel, choco...",food,Texas Land & Cattle,7779 Lyles Ln,Concord,NC,28027,35.365496,-80.712032,3.0,145,"Comfort Food, Restaurants, Nightlife, Steakhou...","[warm, chocolate, brownie, melted, caramel, ch..."
2,2,002GtTSYyQ4swIZyEnfF5A,9km51KaQujxsSgdaG9gYSw,"The Most Yummy Tarts: Chantilly, Guava, Salted...",food,Paina Cafe,"6870 Spring Mountain Rd, Ste G",Las Vegas,NV,89146,36.126871,-115.242175,4.0,491,"Restaurants, Poke, Food, Seafood, Sandwiches, ...","[the, most, yummy, tarts, chantilly, guava, sa..."
3,3,15q8Yg7PISk2F66b0xx5Lg,9km51KaQujxsSgdaG9gYSw,"Tarts! Chocolate Haupia, Ube, and Guava Liliko...",food,Paina Cafe,"6870 Spring Mountain Rd, Ste G",Las Vegas,NV,89146,36.126871,-115.242175,4.0,491,"Restaurants, Poke, Food, Seafood, Sandwiches, ...","[tarts, chocolate, haupia, ube, and, guava, li..."
4,4,2ocGohLgi-ea4WGZpAKNAQ,9km51KaQujxsSgdaG9gYSw,Spam musubi,food,Paina Cafe,"6870 Spring Mountain Rd, Ste G",Las Vegas,NV,89146,36.126871,-115.242175,4.0,491,"Restaurants, Poke, Food, Seafood, Sandwiches, ...","[spam, musubi]"

In [38]:
#filter out stopwords
from nltk.corpus import stopwords
stop_words = stopwords.words('english')
print(stop_words)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [41]:
df['filtered_caption'] = df['caption_clean']
df['filtered_caption']=df['filtered_caption'].apply(lambda x:[item for item in x if item not in stop_words])

In [42]:
df.head()

,Unnamed: 0,photo_id,business_id,caption,label,name,address,city,state,postal_code,latitude,longitude,stars,review_count,categories,caption_clean,filtered_caption
0,0,002gqWfVal1D2DT6oA-bVQ,qnZzSC4TKen19Gz9nyKCvw,12oz. Boneless Ribeye | Grilled to perfection ...,food,Texas Land & Cattle,7779 Lyles Ln,Concord,NC,28027,35.365496,-80.712032,3.0,145,"Comfort Food, Restaurants, Nightlife, Steakhou...","[12oz, boneless, ribeye, grilled, to, perfecti...","[12oz, boneless, ribeye, grilled, perfection, ..."
1,1,K_9pvEE-fJQyYExAGe0X0g,qnZzSC4TKen19Gz9nyKCvw,"Warm Chocolate Brownie | Melted caramel, choco...",food,Texas Land & Cattle,7779 Lyles Ln,Concord,NC,28027,35.365496,-80.712032,3.0,145,"Comfort Food, Restaurants, Nightlife, Steakhou...","[warm, chocolate, brownie, melted, caramel, ch...","[warm, chocolate, brownie, melted, caramel, ch..."
2,2,002GtTSYyQ4swIZyEnfF5A,9km51KaQujxsSgdaG9gYSw,"The Most Yummy Tarts: Chantilly, Guava, Salted...",food,Paina Cafe,"6870 Spring Mountain Rd, Ste G",Las Vegas,NV,89146,36.126871,-115.242175,4.0,491,"Restaurants, Poke, Food, Seafood, Sandwiches, ...","[the, most, yummy, tarts, chantilly, guava, sa...","[yummy, tarts, chantilly, guava, salted, caram..."
3,3,15q8Yg7PISk2F66b0xx5Lg,9km51KaQujxsSgdaG9gYSw,"Tarts! Chocolate Haupia, Ube, and Guava Liliko...",food,Paina Cafe,"6870 Spring Mountain Rd, Ste G",Las Vegas,NV,89146,36.126871,-115.242175,4.0,491,"Restaurants, Poke, Food, Seafood, Sandwiches, ...","[tarts, chocolate, haupia, ube, and, guava, li...","[tarts, chocolate, haupia, ube, guava, lilikoi..."
4,4,2ocGohLgi-ea4WGZpAKNAQ,9km51KaQujxsSgdaG9gYSw,Spam musubi,food,Paina Cafe,"6870 Spring Mountain Rd, Ste G",Las Vegas,NV,89146,36.126871,-115.242175,4.0,491,"Restaurants, Poke, Food, Seafood, Sandwiches, ...","[spam, musubi]","[spam, musubi]"

In [46]:
#perform stemming to get stems of words
from nltk.stem.porter import PorterStemmer
porter = PorterStemmer()
df['filtered_caption'] = df['filtered_caption'].apply(lambda x:[porter.stem(item) for item in x])

In [47]:
df.head()

,Unnamed: 0,photo_id,business_id,caption,label,name,address,city,state,postal_code,latitude,longitude,stars,review_count,categories,caption_clean,filtered_caption
0,0,002gqWfVal1D2DT6oA-bVQ,qnZzSC4TKen19Gz9nyKCvw,12oz. Boneless Ribeye | Grilled to perfection ...,food,Texas Land & Cattle,7779 Lyles Ln,Concord,NC,28027,35.365496,-80.712032,3.0,145,"Comfort Food, Restaurants, Nightlife, Steakhou...","[12oz, boneless, ribeye, grilled, to, perfecti...","[12oz, boneless, ribey, grill, perfect, choic,..."
1,1,K_9pvEE-fJQyYExAGe0X0g,qnZzSC4TKen19Gz9nyKCvw,"Warm Chocolate Brownie | Melted caramel, choco...",food,Texas Land & Cattle,7779 Lyles Ln,Concord,NC,28027,35.365496,-80.712032,3.0,145,"Comfort Food, Restaurants, Nightlife, Steakhou...","[warm, chocolate, brownie, melted, caramel, ch...","[warm, chocol, browni, melt, caramel, chocol, ..."
2,2,002GtTSYyQ4swIZyEnfF5A,9km51KaQujxsSgdaG9gYSw,"The Most Yummy Tarts: Chantilly, Guava, Salted...",food,Paina Cafe,"6870 Spring Mountain Rd, Ste G",Las Vegas,NV,89146,36.126871,-115.242175,4.0,491,"Restaurants, Poke, Food, Seafood, Sandwiches, ...","[the, most, yummy, tarts, chantilly, guava, sa...","[yummi, tart, chantilli, guava, salt, caramel,..."
3,3,15q8Yg7PISk2F66b0xx5Lg,9km51KaQujxsSgdaG9gYSw,"Tarts! Chocolate Haupia, Ube, and Guava Liliko...",food,Paina Cafe,"6870 Spring Mountain Rd, Ste G",Las Vegas,NV,89146,36.126871,-115.242175,4.0,491,"Restaurants, Poke, Food, Seafood, Sandwiches, ...","[tarts, chocolate, haupia, ube, and, guava, li...","[tart, chocol, haupia, ube, guava, lilikoi, tart]"
4,4,2ocGohLgi-ea4WGZpAKNAQ,9km51KaQujxsSgdaG9gYSw,Spam musubi,food,Paina Cafe,"6870 Spring Mountain Rd, Ste G",Las Vegas,NV,89146,36.126871,-115.242175,4.0,491,"Restaurants, Poke, Food, Seafood, Sandwiches, ...","[spam, musubi]","[spam, musubi]"

In [48]:
df.to_csv('yelp_final_tokenized.csv')

### Training Data

In [62]:
df_train = pd.read_csv("training_dataset/trainingdataset.csv")
df_train.head()

            fields.item_name fields.brand_name  healthy
0         Chili Cheese Fries  Taco Bell Canada        0
1      Steak Chalupa Supreme  Taco Bell Canada        0
2  7-Layer Burrito - Chicken  Taco Bell Canada        0
3   Fresco Beef Crunchy Taco  Taco Bell Canada        1
4            Cinnamon Twists  Taco Bell Canada        1

In [63]:
#create separate column for tokenized caption
df_train['clean_item_name'] = df_train['fields.item_name']
df_train['clean_item_name'] = df_train['clean_item_name'].replace('[^a-zA-Z0-9 ]', '', regex=True)
df_train['clean_item_name'] = df_train['clean_item_name'].str.lower()

In [64]:
df_train.head()

,fields.item_name,fields.brand_name,healthy,clean_item_name
0,Chili Cheese Fries,Taco Bell Canada,0,chili cheese fries
1,Steak Chalupa Supreme,Taco Bell Canada,0,steak chalupa supreme
2,7-Layer Burrito - Chicken,Taco Bell Canada,0,7layer burrito chicken
3,Fresco Beef Crunchy Taco,Taco Bell Canada,1,fresco beef crunchy taco
4,Cinnamon Twists,Taco Bell Canada,1,cinnamon twists

In [65]:
#tokenize
df_train['clean_item_name'] = df_train.apply(lambda row: nltk.word_tokenize(row['clean_item_name']), axis=1)
#filter out stop words
df_train['filtered_item_name'] = df_train['clean_item_name']
df_train['filtered_item_name']=df_train['filtered_item_name'].apply(lambda x:[item for item in x if item not in stop_words])

In [67]:
#apply stemming
df_train['filtered_item_name'] = df_train['filtered_item_name'].apply(lambda x:[porter.stem(item) for item in x])
df_train.head()

,fields.item_name,fields.brand_name,healthy,clean_item_name,filtered_item_name
0,Chili Cheese Fries,Taco Bell Canada,0,"[chili, cheese, fries]","[chili, chees, fri]"
1,Steak Chalupa Supreme,Taco Bell Canada,0,"[steak, chalupa, supreme]","[steak, chalupa, suprem]"
2,7-Layer Burrito - Chicken,Taco Bell Canada,0,"[7layer, burrito, chicken]","[7layer, burrito, chicken]"
3,Fresco Beef Crunchy Taco,Taco Bell Canada,1,"[fresco, beef, crunchy, taco]","[fresco, beef, crunchi, taco]"
4,Cinnamon Twists,Taco Bell Canada,1,"[cinnamon, twists]","[cinnamon, twist]"

In [68]:
df_train.to_csv('training_dataset/trainingdataset_tokenized.csv')